body{
	background: url(../img/body.png) fixed;
}

.nvbar{
	padding:20px;
	background-color: lightgoldenrodyellow;
	margin-left:0;
	margin-right:0;
}

.nvbar img {
    height:100px;
}

.main{
	background: white;
	padding-left:0;
	padding-right:0;
}

.maintitle{
	font-weight:600;
}
.container{
	background-color:white;
}
.navbar .dropdown:hover>.dropdown-menu {
  display: block;
}

thead{
	background:#555;
	color:white;
}

@media screen and (max-width: 756px) {
  .nvbar img {
    height:50px;
  }
   .nvbar h3 {
    font-size:1.2rem;
	padding-left:8px;
  }
}