body{
	background: url(../img/body.png) fixed;
}

.nvbar{
	padding:20px;
	background-color: lightgoldenrodyellow;
	margin-left:0;
	margin-right:0;
}

.nvbar img {
    height:100px;
}

.main{
	background: white;
	padding-left:0;
	padding-right:0;
}
.navbar-nav > li > .dropdown-menu { background-color: black; }
.navbar-nav > li > .dropdown-menu .dropdown-item{ background-color: black; color: white;  }


.maintitle{
	font-weight:600;
}
.container{
	background-color:white;
}


.dropdown .dropdown-menu {
  transition: all 0.5s;
  overflow: hidden;
  transform-origin: top center;
  transform: scale(1, 0);
  display: block;
}
.dropdown:hover .dropdown-menu {
  transform: scale(1);
}


thead{
	background:#555;
	color:white;
}

@media screen and (max-width: 756px) {
  .nvbar img {
    height:50px;
  }
   .nvbar h3 {
    font-size:1.2rem;
	padding-left:8px;
  }
}