body {
    background: url(../img/body.png) fixed;
}

.instructorphoto img {
    width: 120px;
    border-radius: 120px;
    margin-bottom: 10px;
}

.instructor {
    display: inline-block;
    width: 120px;
    text-align: center;
    margin-right: 20px;
    /* text-shadow: 0 0 black; */
}

.img-hover:hover {
    opacity: 0.8;
}

.col-md-10{
	padding-left:3rem;
}

.sec {
	margin-bottom: 2px;
	padding-bottom:10px;
	border-bottom: 3px solid #a8df90;
}
.sec:last-child {
	border-bottom: 0 none;
}

#odd{
	background-color:lightgrey;
}

#even{
	background-color:white;
}